{% extends 'base.html' %}

{% block content %}
  <h1 id="page-heading">Edit Product in Quick Stock</h1>
  <form method="POST" action="{{ url_for('edit_product', product_id=product.id) }}" id="edit-product-form">
    <label for="name">Name:</label>
    <input type="text" id="name-input" name="name" value="{{ product.name }}" required><br>

    <label for="price">Price:</label>
    <input type="number" id="price-input" name="price" step="0.01" value="{{ product.price }}" required><br>

    <label for="quantity">Quantity:</label>
    <input type="number" id="quantity-input" name="quantity" value="{{ product.quantity }}" required><br>

    <button type="submit" id="submit-button">Update Product</button>
  </form>
{% endblock %}